## Problem 1

If we list all the natural numbers below 10 that are multiples of 3 or 5, we get 3, 5, 6 and 9.
The sum of these multiples is 23.

Find the sum of all the multiples of 3 or 5 below 1000.

### Approach

in mod15, the multiples of 3 and 5 will always be 3, 5, 6, 9, 10, 12, 15. the sum of these numbers is

In [21]:
sum = 3 + 5 + 6 + 9 + 10 + 12 + 15

In [22]:
sum

60

And there are 7 of these elements. So between every multiple of 15 (meaning the ranges [1-15], [16-30], etc), the sum will be $60 + (7*m)$ where $m$ is the multiple of 15 beginning the range.

Then, for $n$ multiples of 15, we have

$$\sum_{i=0}^{n-1} (60 + 105i)$$

then, for the remainder, you can just iterate through and add the leftovers, so if you're looking for less than 1000, you'd divide, find the highest multiple is 990, and then manually check for multiples between 991 and 999.

In [25]:
limit=1000

In [4]:
import numpy as np;
import math;

In [8]:
print (np.linspace(0,10, 11))

[ 0.  1.  2.  3.  4.  5.  6.  7.  8.  9. 10.]

In [24]:
x = range(1,10);
print (x[0]);
print (type(x));

1
<class 'range'>

In [22]:
x_mod = [60 + 105*i for i in x];
print(x_mod);

[165, 270, 375, 480, 585, 690, 795, 900, 1005]

In [27]:
transform = lambda i: 60 + 105*i;
print (type(transform))
print (transform(4))

<class 'function'>
480